@import '../../utils/scss/index';

.root {
    @include text--cta;
    border: 1px solid $color--brand-blue;
    border-radius: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 22px;
    min-width: 210px;
    text-decoration: none;
    transition: all 250ms;

    &:hover,
    &:focus {
        color: $color--brand-white !important;
        border-color: #2a0572 !important;
        background-color: #2a0572 !important;
    }

    &.fillTheme {
        color: $color--brand-white;
        background-color: $color--brand-blue;
    }

    &.strokeTheme {
        color: $color--brand-blue;
        background-color: $color--brand-white;
    }
}
