$size--small-viewport: 500px; // All current handheld devices
$size--medium-viewport: 768px; // iPad width (portrait)
$size--small-height: 780px; // Footer CTA overlaps with UI components at this height & smaller

@mixin _mq($media-queries) {
    $query-list: ();
    $keys: map-keys($media-queries);
    $values: map-values($media-queries);
    @for $i from 1 through length($keys) {
        $string: '(' + nth($keys, $i) + ':' + nth($values, $i) + ')';
        @if (length($query-list) != 0) {
            $string: 'and ' + $string;
        }
        $query-list: append($query-list, unquote($string));
    }

    @media #{$query-list} {
        @content;
    }
}

// Viewport Sizes

@mixin small() {
    @include _mq(
        (
            min-width: (
                $size--small-viewport,
            ),
            max-width: (
                $size--small-viewport + 160,
            ),
        )
    ) {
        @content;
    }
}

@mixin smallAndMedium() {
    @include _mq(
        (
            max-width: (
                $size--medium-viewport,
            ),
        )
    ) {
        @content;
    }
}

@mixin medium() {
    @include _mq(
        (
            min-width: $size--small-viewport + 1,
            max-width: (
                $size--medium-viewport,
            ),
        )
    ) {
        @content;
    }
}

@mixin mediumAndLarge() {
    @include _mq(
        (
            min-width: $size--small-viewport + 1,
        )
    ) {
        @content;
    }
}

@mixin large() {
    @include _mq(
        (
            min-width: $size--medium-viewport + 1,
        )
    ) {
        @content;
    }
}

// Other
@mixin isSmallHeight() {
    @include _mq(
        (
            max-height: $size--small-height,
        )
    ) {
        @content;
    }
}

@mixin prefers-reduced-motion() {
    @include _mq(
        (
            prefers-reduced-motion: 'reduce',
        )
    ) {
        @content;
    }
}
