$color--brand-blue: #5700ff;
$color--brand-green: #00e290;
$color--brand-white: #fff;
$color--brand-black: #171733;
$color--brand-gray: #f5f5f6;
$color--brand-dark-gray: #4f4f67;

$font--brand: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

@mixin text--heading-1 {
    font: bold 85px/90px $font--brand;
    letter-spacing: -0.5px;
}

@mixin text--heading-2 {
    font: bold 50px/60px $font--brand;
    letter-spacing: -0.5px;
}

@mixin text--heading-6 {
    font: bold 40px/45px $font--brand;
    letter-spacing: -0.5px;
}

@mixin text--heading-3 {
    font: bold 28px/36px $font--brand;
    letter-spacing: -0.5px;
}

@mixin text--heading-4 {
    font: bold 24px/30px $font--brand;
    letter-spacing: -0.5px;
}

@mixin text--heading-5 {
    font: bold 20px/26px $font--brand;
    letter-spacing: -0.25px;
}

@mixin text--body {
    font: 16px/24px $font--brand;
    letter-spacing: -0.25px;
}

@mixin text--caption-1 {
    color: $color--brand-black;
    font: bold 16px/24px $font--brand;
}

@mixin text--caption-2 {
    font: bold 13px/14px $font--brand;
    letter-spacing: 0.25px;
    text-transform: uppercase;
}

@mixin text--cta {
    font: bold 13px/14px $font--brand;
    letter-spacing: 0.25px;
    text-transform: uppercase;
}

@mixin text--rich-content {
    @include text--body;

    i {
        font-style: italic;
    }

    b {
        font-weight: bold;
    }

    > *:not(:first-child) {
        margin-top: 1.2em;
    }

    ul {
        list-style-type: disc;
        margin-left: 1.2em;
    }

    h3 {
        @include text--heading-3;
    }

    h4 {
        @include text--heading-4;
    }

    h5 {
        @include text--heading-5;
    }

    h6 {
        @include text--heading-6;
    }
}
