

.container {
    border-bottom: 1px solid black;
}

.title {
    margin-left: 15px;
}

.title a {
    color: #000;
    text-decoration: none;
}

.link {
    margin-right: 15px;
    display: block;
    margin-top: 30px;
    text-align: right;
    color: black;
}