@import '../../utils/scss/index.scss';

.root {
    border-top: 1px solid $color--brand-gray;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 0 0;

    @include smallAndMedium() {
        flex-direction: column;
    }
}

.copyright {
    margin: 50px 0;
    @include text--body;

    @include smallAndMedium() {
        margin: 0 0 50px 0;
    }
}

.left {
    @include smallAndMedium() {
        order: 1;
    }
}

.right {
    display: flex;
    @include smallAndMedium() {
        order: 0;
    }
}

.links {
    display: flex;

    @include smallAndMedium() {
        flex-direction: column;
    }

    a {
        width: 25px;
        height: 28px;
        margin-left: 50px;
        display: flex;

        @include smallAndMedium() {
            margin: 0 100px 38px 0;
        }
    }
}
