.container {
  margin: 0 auto;
}

.header {
  font-weight: 200;
  font-size: 50px;
  text-align: center;
  color: #FFF;
  margin-top: 0;
}

.formItem {
  margin-top: 20px;
}

.formItem input, .formItem select {
    border: 1px solid #ededed;
    display: block;
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px;
    margin-top: 15px;
    box-sizing: border-box;
}

.submit {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  background-color: #8fffe0;
  border-radius: 4px;
  border: none;
  margin: 50px auto;
  display: block;
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 22px;
  font-weight: 300;
}

.error {
  color: red;
}