@import '../../utils/scss/index.scss';

.root {
    display: flex;
}

.item {
    @include text--caption-2;
    display: flex;
    position: relative;
    white-space: nowrap;

    a {
        text-decoration: none;
    }

    &.active {
        &:after {
            content: ' ';
            border-bottom: 3px solid $color--brand-blue;
            width: 100%;
            position: absolute;
            bottom: -10px;
        }
    }

    & + & {
        margin-left: 60px;
    }
}

.contact {
    @include reset-button;
    @include text--caption-2;
    white-space: nowrap;
}
