@import '../../utils/scss/index.scss';

.root {
}

.mobileMenu {
    position: fixed;
    left: 0;
    top: 0;
    padding-top: $size--content-gap-double;
    padding-bottom: 195px;
    background-color: $color--brand-white;
    transform: translate(0, -100%);
    transition: transform 250ms;
    width: 100%;

    &.visible {
        transform: translate(0, 80px);
    }
    z-index: 8;
}

.overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: black;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    visibility: hidden;

    &.visible {
        opacity: 0.5;
        visibility: visible;
    }
    z-index: 7;
}

.item {
    @include text--heading-6;
    color: $color--brand-blue;

    &.active {
        text-decoration: underline;
    }

    & + & {
        margin-top: $size--content-gap;
    }
}

.contact {
    @include reset-button;
    @include text--heading-6;
}
